body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
}

header {
  background: #111;
  color: #fff;
  padding: 10px;
}

.top-controls button {
  margin: 5px;
}

canvas {
  background: #fff;
  border: 1px solid #ccc;
  max-width: 100%;
  margin: 10px auto;
}

.controls button {
  margin: 5px;
  padding: 10px;
}

.pro-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-modal.hidden {
  display: none;
}

.pro-box {
  background: #fff;
  padding: 20px;
  width: 90%;
  max-width: 400px;
}

.secondary {
  background: #ccc;
}

.small {
  font-size: 12px;
}
